<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div  class="container mt-4" layout:fragment="content1">

    <h2 class="text-center">Product Dashboard</h2>

    <div class="row mt-4">

        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5>Total Products</h5>
                    <h3 th:text="${totalProducts}"></h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5>Total Categories</h5>
                    <h3 th:text="${totalCategory}"></h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5>Average Price</h5>
                    <h3 th:text="${avgPrice}"></h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h5>Max Price</h5>
                    <h3 th:text="${maxPrice}"></h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h5>Min Price</h5>
                    <h3 th:text="${minPrice}"></h3>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>